body {
    font-family: Arial, sans-serif;
    background-color: #414481;
    margin: 0;
    padding: 0;
    background-image: url(img/black.jpg);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: rgb(19, 18, 18);
    padding: 20px;
    height: fit-content;
    height: 1.5vh;
    border-width: 0;
    
    
}
.grid-item{
    background-color: white;
    text-align: center;
    border-radius: 0;
    text-decoration: none;
    
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: '';
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #2b2d2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.socialicons{
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    border-radius: 50%;

}
